---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";

const data = await fetch(
  "https://9000-idx-express-project-1717137977038.cluster-qpa6grkipzc64wfjrbr3hsdma2.cloudworkstations.dev/api/groq?q=sebutkan%20lima%20dasar%20pancasila dan gunakan bahasa indonesia jika kamu menjawab?monospaceUid=350609",
);
console.log(data);
---

<Layout>
  <Header />
  <main>
    <h1>AI => FROM GROQ AI</h1>
    <div class="chat-wrapper">
      <div class="chat-container">container</div>
      <input type="text" name="" id="" />

      <button>send</button>
    </div>
  </main>
  <Footer />
</Layout>

<style>
  * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: larger;
    font-weight: bolder;
  }
  input {
    width: 100%;
    height: 100%;
  }
  /* textarea:focus, input:focus {
    color: #ff0000;
} */

  input,
  select,
  textarea {
    color: #000;
  }
</style>
