---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
// const socialCount = SOCIALS.filter((social) => social.active).length;

// Components
import Button from "@components/Button.astro";
// import Hr from "@components/Hr.astro";

const featureFolders = await Astro.glob("./*");
const folderNames = featureFolders
  .filter(
    (folder) => folder.split("/").pop() !== "index.astro", // Filter out index.astro
  )
  .map((folder) => folder.split("/").pop());
---

<Layout>
  <Header activeNav="features" />
  <h1>Fitur - fitur website X TKJ 2</h1>
  <main>
    <Button href="/features/ai" name="AI" type="2" />

    <Button href="/features/ml" name="ML" type="2" />

    <ul>
      {
        folderNames.map((folderName) => (
          <li key={folderName}>
            <a href={`/${folderName}`} class="mini-card">
              {folderName}
            </a>
          </li>
        ))
      }
    </ul>
  </main>

  <Footer />
</Layout>
hai
<style>
  * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: larger;
    font-weight: bolder;
  }
</style>
