---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
---

<Layout>
  <Header activeNav="features"/>
  <h1>Fitur - fitur website X TKJ 2</h1>
  <!-- <Card href="/features" secHeading={false} /> -->
  <Footer />
</Layout>
