---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card";
import Footer from "@components/Footer.astro";

// Components
import Button from "@components/Button.astro";
---

<Layout>
  <Header activeNav="features" />
  <h1>Fitur - fitur website X TKJ 2</h1>
  <main>
    <Button href="/features/ai" name="Groq AI" type="2" />
  </main>
  <!-- <Card href="/features" secHeading={false} /> -->
  <Footer />
</Layout>
hai
<style>
  * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: larger;
    font-weight: bolder;
  }
</style>
