---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <h1>Binary to Decimal</h1>
    <form action="post">
      <input type="text" />Isi nominal angka 0 dan 1 saja
    </form>
  </main>
  <Footer />
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;

  }
</style>
